:root{
    --accent-color:#2196F3;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.address {
    font-style: normal;
}
body {
    font-family: "Roboto" , sans-serif;
    background-color: #E5E5E5;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-web {
    color: var(--accent-color);
}
.navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}
.tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.email-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.email-link:hover,
.email-link:focus {
    color: var(--accent-color);
}
.modal-buttom {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: var(--accent-color);
}
.title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* color: #FFFFFF; */
}
.about-us-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}
.about-us-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}
.suptitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
.footer-email {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: rgba(255, 255, 255, 0.6); */
}
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: rgba(255, 255, 255, 0.6); */
}
.address {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    /* color: #FFFFFF; */
}
.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.project-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}
.button-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    background-color: #F5F4FA;
    border-radius: 4px;
}
.button-list-item:hover,
.button-list-item:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}